---
const { item } = Astro.props;
---

<div>
  <h2>{item.frontmatter.title}</h2>
  <p>{item.description}</p>
</div>
<div>
  <img src={item.frontmatter.img} alt={item.title} />
  <p>{item.frontmatter.description}</p>
  <a href={item.url}></a>
</div>
